<mat-toolbar color="primary" class="w-full flex gap-6 items-center">
  <!-- <button mat-icon-button class="block lg:hidden" (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button> -->

<div>
  <img src="https://logos.flamingtext.com/Name-Logos/Project-design-sketch-name.png" class="w-20 h-10" alt="Project Image">
</div>
  <!-- "C:\Users\HELLY\OneDrive\Documents\angular practice\material-dash-oone\src\assets\images\project.png" -->

  <div class="hidden lg:flex items-center gap-2">
    <div
      class="border-slate-400 rounded-full h-10 w-10 border-2 flex items-center justify-center"
    >
      <button mat-icon-button (click)="closeSidenav()">
        <mat-icon>notifications_none</mat-icon>
      </button>
    </div>

    <div
      class="border-slate-400 rounded-full h-10 w-10 border-2 flex items-center justify-center"
    >
      <button mat-icon-button (click)="closeSidenav()">
        <mat-icon>favorite_border</mat-icon>
      </button>
    </div>
    <div
      class="border-slate-400 rounded-full h-10 w-10 border-2 flex items-center justify-center"
    >
      <button mat-icon-button (click)="closeSidenav()">
        <mat-icon>card_giftcard</mat-icon>
      </button>
    </div>
  </div>

  <mat-divider vertical="true" class="h-8"></mat-divider>
</mat-toolbar>
